@model List<HelloMVC.Models.Car>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.JohnCreatedThisValue</h1>
<h2>John changed this.</h2>

@foreach (var car in Model)
{
    <p>@car.Id - @car.Make - @car.Model</p>
}

@{ 
    var name = "John";
    var day = DateTime.Now.DayOfWeek.ToString();

    <p>Howdy, @name! Today is @day.</p>
}

@helper pluralize(int amount, string singular, string plural)
{
    @(amount == 1 ? singular : plural)
}
@{
    var crisesCount = 1;
    <p>Mr. President, there @pluralize(crisesCount, "is one crises", "are " +crisesCount + " crises") you must deal with immediately.</p>
}

<p>
    @{ 
        var test = false;
        if (!test)
        {
            @: Display some text!
            <span>Display some more text!</span>
        }
    }
</p>

 